/*global*/
*{margin: 0;padding: 0;font-family:'Roboto', sans-serif;}
#body_global{ 
    /*background:#000;*/
    background-image: url("/img/backgrund.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#22232D;
    overflow: hidden;
    height:100vh;
    display: flex;
    width:100%;

}

#body_global div{
 }

#body_global #container1 {
    width: 25%;
    max-width: 392px;
    min-width:200px;
    height:100%;
    background: #22232D;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.123);
 }
 #body_global #container1 #conteudo{
     margin-top: 70%;
     text-align: center;
 }
 
 #body_global #container1 #conteudo h2{
     color: #fff;
     font-size: 19px;
     margin-bottom:10px;
 }

 #body_global #container1 #conteudo p {
     color: #B6B6B7;
     margin-bottom:5px;
     text-align:center;
 }

 #body_global #container2 {
     width:75%;
     margin-top:60px;
     margin-left:150px;
 }

 #body_global #container2 .formLogin{
     background: #22232db0;
     box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.199);
     max-width: 550px;
     border-radius:20px;


 }
 
 #body_global #container2 .formLogin h2{
     color: #fff;
     padding-top: 50px;
     margin-bottom: 100px;
     text-align: center;
     font-style: 38px;     
 }

 #body_global #container2 .formLogin input{
     display: flex;
     background-color: #ffffff00;
     border: none;
     border-bottom: solid 1px #B6B6B7;
     font-size: 28px;
     margin-left:25%;
     color: #bfbfc2;
     padding-bottom: 10px;
     margin-top: 10px;
 }

 #body_global #container2 .formLogin input::placeholder{
    color: #B6B6B7;
 }

 #body_global #container2 .formLogin #btLogar{
   
    border: solid 1px #B6B6B7;
    padding: 3px 25px;    
    margin: 50px 0px 0px 40%;
    border-radius: 10px;
 }

 #body_global #container2 .formLogin #btLogar:hover{
   
    border: solid 1px #B6B6B7;
    color:#22232D;
    background-color:#B6B6B7;
 }

 #body_global #container2 .formLogin #lik{
     margin-top: 70px;
     text-align: center;
     padding-bottom: 40px;

 }

 #body_global #container2 .formLogin #lik a {
    text-decoration: none;
    color:#7E7D7D;
    font-size: 21px;
    text-align: center;
    margin-left: 20px;
 }
 #body_global #container2 .formLogin #lik a:hover{
    color: #fff;
}

 #lik a img{
     width:25px;
 }

 #lik a:hover{
     color: #fff;
}



/*tela logado */



 #conteudoLogad .imgPerfil{
    width: 100px;
    margin-bottom: 20px;
    margin-top:110px;
    margin-left: 25%;
}
#conteudoLogad h2{
    color: #fff;
    margin-left: 20%;
    margin-bottom: 20px;
}

#conteudoLogad h2 img {
    width:20px;
    margin-right:10px;
    
}

#conteudoLogad .txCinza{
 color:#B5B5B5;
 margin-left: 15%;
 font-size: 10px;
}

#conteudoLogad .txAzul{
 color:#71AECF;
 margin-left: 15%;
 font-size:18px;
 margin-bottom: 10px;
}

#container2{
}
#container2 nav {
    margin-top: -40px;
    float: right;
    right:0px;
}
#container2 nav ul {
    display: flex;
    flex-direction: row;
    list-style:none;
}

#controNav{
    margin-top: 60px;
    margin-bottom: 30px;
    width:70%;
    background-color: #24252F;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 20px;

}

#controNavBt{
    display: block;
    background-color: #23A8F1;
    width:10%;
    height:8px;
    margin-top:2px;
    border-radius: 5px;
    
  transition-delay:3s;
}

#controNavBt:hover{
  background-color: red;
  margin-left: 40px;
}

#table_contas{
background-color: #24252F;
position: relative;
flex-direction: column;
height:57px;
width: 95%;
margin-left: -50px;
color:#23A8F1;

}

#table_contas .ContaVencida{    
    color:#C90C0F;
    background-color:rgba(252, 207, 207, 0.199);
    }
#table_contas .ContaPaga{    
    color:#00FC4C;    
    background-color:rgba(139, 167, 133, 0.199);
    }

#table_contas .ContaPendente{  
    color:#377da3;
    background: rgba(85, 113, 128, 0.61);
    }

    
#table_contas td a img{
        margin:5px;
        opacity:0.5;
    }
    #table_contas td a img:hover{
        opacity:0.9;
    }    


/*caixa de alerta */

.modal-aviso{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    color:#fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal{
    background-color: black;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    position: relative;
}

@keyframes modal{
    form{
        opacity: 0;
        transform: translate3d(0,-60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.mostrar {
    display: flex;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color:blue;
    color: white;
    cursor: pointer;
}


