  <header>        
    </header>

    <div id="container1">
        <div id="conteudoLogad">
            <img src="/img/user-sem-Img.png" alt="Foto do perfil" class="imgPerfil">
            <h2>
                <img src="/img/user-solid.svg" alt="user">
                Antonio{{user}}
            </h2>         

            <p class="txCinza">Tipo:</p>
            <p class="txAzul">Admin</p>

            <p class="txCinza">Login:</p>
            <p class="txAzul">jhonnyimmbe@gmail.com</p>
        </div>
    </div>

    <div id="container2">
        <nav> 
            <ul>
                <li>
                    <a href='/cadtela'>
                        <img src="/img/sync-alt-solid.svg" title="Atualizar">
                    </a>
                </li>

                <li>
                    <a href='/'>
                        <img src="/img/home-solid.svg" title="Home" alt="Home">
                    </a>
                </li>

                <li>
                    <a href='/'>
                        <img src="/img/sign-out-alt-solid.svg" title="Logout" alt="Logout">
                    </a>
                </li>
            </ul>
        </nav>
    


        <table id="table_contas">
            <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Data do vencimento</td>
                    <td>Valor</td>
                    <td>Status</td>
                    <td>Ações</td>            
                </tr>

            <tr>
                    <td>01</td>
                    <td>Academia</td>
                    <td>pobre</td>
                    <td>22-03-2020</td>
                    <td>150.00</td>
                    <td>#</td>
                    <td># # #</td>            
                </tr>

        </table>

    </div>



<!--h2>Bem vindo ao painel Senhor</h2>
<h3>Novo Usuário</h3
    <form action="/cadastrar" method="post" class="novo_usu formLogin">

    <input type="text" id="name" class="name" name="name" placeholder="Nome" required >

    <input type="text" id="lastName" class="lastName" name="lastName" placeholder="Sobrenome" required >
    
    <input type="email" id="email" class="email" name="email" placeholder="E-mail" required >
    
    <input type="password" id="password" class="password" name="senha" placeholder="Senha" required >
    
    <input type="conPassword" id="password" class="conPassword" name="conPassword" placeholder="confirma Senha" required >

    <select name="user_type" id="user_type">
        <option value="" selected>Tipo de Usuário:</option>
        <option value="user">Usuário Comum</option>
        <option value="admin">Administrador</option>
        <option value="master">Master</option>
    </select>    
    <input type="submit" value="Enviar">
</form>
<br><br><br><br><br><br><br>
<h3>aqui vai aprecer a lista de usuários com nivel de permição</h3>
<br><br><br><br><br><br><br>
<h3>aqui vai aprecer a lista de contas do master </h3>
-->