<!--esse html será injetado dentro da pagina index-->
    <header>        
    </header>

    <div id="container1">
        <div id="conteudo">
            <img src="/img/logo.svg" alt="Foto do perfil">
            <h2>Sistema da controle de gastos </h2>
            <p>Organize Sua Vida Financeira</p>
            <p>Controle Seus Gastos Facilmente </p>
        </div>
    </div>

    <div id="container2">        

        <form action="/logar" method="POST" class="formLogin">
            <h2> LOGIN </h2>

            <input type="email" name="email" id="email" placeholder="Usuário" required>
            <input type="password" name="password" id="password" placeholder="Senha" required>
            <input type="submit" value="Logar" id="btLogar">
            
            <div id="lik">
                <a href="#"><img src="/img/user+.svg" alt=""> Cadastrar novo</a>
                <a href="#"><img src="/img/user-edit.svg" alt=""> lembrar senha</a>
            </div>
        </form>
           
    </div>









