<table id="table_contas">
            <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Data do vencimento</td>
                    <td>Valor</td>
                    <td>Status</td>
                    <td>Ações</td>            
                </tr>

            <tr>
                    <td>01</td>
                    <td>Academia</td>
                    <td>pobre</td>
                    <td>22-03-2020</td>
                    <td>150.00</td>
                    <td>#</td>
                    <td># # #</td>            
                </tr>
            <tr>
                    <td>01</td>
                    <td>Academia</td>
                    <td>pobre</td>
                    <td>22-03-2020</td>
                    <td>150.00</td>
                    <td>#</td>
                    <td># # #</td>            
                </tr>
            <tr>
                    <td>01</td>
                    <td>Academia</td>
                    <td>pobre</td>
                    <td>22-03-2020</td>
                    <td>150.00</td>
                    <td>#</td>
                    <td># # #</td>            
                </tr>

        </table>
